!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width initial-scale=1, maximum-scale=1")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

    title= title

    link(rel='stylesheet', href='/stylesheets/controller.css')

  body
    div#log
    div#container
      div#dummy
      div#element
        div#buttonscontainer
          div.ss_bg
          div.ss_bg
          div.ss_bg
            span select
            span start
          div.ss_bg

          div#ss_container
          div#b_container
          div#a_container
          
          div#dpad.button
          div#select.button
          div#start.button
          div#a.button
          div#b.button
  script(type='text/javascript', src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
  script(type='text/javascript', src='/javascripts/socket.io.js')
  script(type='text/javascript', src='/javascripts/controller.js')
