//h1= title
p 
	| websockets id:
	span#gameid #{id}

#container
	#emulator
	#log
//<!--
		canvas.nes-screen
		.nes-roms
			select
				option Select a ROM...
		.nes-controls
			input.nes-pause
			input.nes-restart
			input.nes-enablesound
//-->
		
script(type='text/javascript', src="/javascripts/jquery.min.js")
script(type='text/javascript', src='/javascripts/socket.io.js')
script(type='text/javascript', src='/javascripts/underscore.js')
script(type='text/javascript', src='/javascripts/game.js')

script(src="/lib/dynamicaudio-min.js", type="text/javascript", charset="utf-8")
script(src="/source/nes.js", type="text/javascript", charset="utf-8")
script(src="/source/utils.js", type="text/javascript", charset="utf-8")
script(src="/source/cpu.js", type="text/javascript", charset="utf-8")
script(src="/source/keyboard.js", type="text/javascript", charset="utf-8")
script(src="/source/mappers.js", type="text/javascript", charset="utf-8")
script(src="/source/papu.js", type="text/javascript", charset="utf-8")
script(src="/source/ppu.js", type="text/javascript", charset="utf-8")
script(src="/source/rom.js", type="text/javascript", charset="utf-8")
script(src="/source/ui.js", type="text/javascript", charset="utf-8")
