h1= title
p Your id is #{id}

#container
	#output
	#game

script(type='text/javascript', src="/javascripts/jquery.min.js")
script(type='text/javascript', src='/javascripts/socket.io.js')
script(type='text/javascript', src='/javascripts/game.js')
